/* Code couleures */
/* blue: #006bbd */
/* cian: #2dcdcf */

.bgList{
    background-color: #20A395;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
.bgList:hover{
    background-color: #fff;
    color: #20A395;
}
.bg-menu{
    background-color: #fff;
    color: #000;
}
.userDiv{
    border-radius: 12px;
}

/* Cheikh Ndiaye */
/* button.btn{
    background-color: #006bbd ;
    color: white;
}
button.btn:hover{
    background-color: #2dcdcf;
    color: white;
    box-shadow: 4px 4px 5px #006bbd;
} */
/* div.cours-item{
    box-shadow: 0px 0px 10px gray;
}
div.cours-item:hover{
    box-shadow: 0px 0px 15px #50585f;
} */




@media screen and(max-width:700px) {
     .bgList{
         width: 100px;
     }
}