.prof div.card{
    border-radius:30px;
    background-color:  #2dcdcf;
    box-shadow:5px 5px 10px  rgba(0,0,0, 0.7);
    height:160px
}
.prof div.card:hover{
    background-color: #006bbd;
    border-radius:30px;
    box-shadow:5px 5px 10px  rgba(0,0,0, 0.7);
    height:160px
    
}
