/* Code couleures */
/* blue: #006bbd */
/* cian: #2dcdcf */

div.page-body{
    margin-top: 75px;
}
div.App .bg-App{
    background-image: url('../img/bg_home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log_img{
    background-image:url(../img/bg_home.png);
    background-position: center;
    background-size: cover;
}