/* Code couleures */
/* blue: #006bbd */
/* cian: #2dcdcf */

.side{
   background-color: #6c757d;
   height: 150vh;
   width: 400px;
   top: 0;
   right: 0;
   position: absolute; 
}
@media screen  and (max-width:768px){
    .side{
        width: 45%;
    }
   

}
/* .horaire{
    text-align: center;
    background-color: cadetblue;
} */
/* .horaire>h5{
    z-index: 2;
    font-weight: bolder;
    color: red;
    background-color: blue;
    text-align: center;
} */
