/* Code couleures */
/* blue: #006bbd */
/* cian: #2dcdcf */


/* Navbar Style */
.navbar-div{
  position: fixed;
  background-color: white;
  width: 100vw;
  right: 0;
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.7);
}
/* Menu Style */
div.menu, #sidebar{
  height: 550px;
  text-decoration: none;
}
div.menu ul {
  margin-left: 0;
  padding-left: 0;
}
div.menu ul p{
  width: 100%;
  height: 70px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 22px;
  border-radius: 50px;
}
div.menu .texte{
  position: relative;
  right: 20px;
 
}
div.menu .material-icons-outlined{
  color: white;
}
div ul.sidebar{
  z-index: 0;
  width: 300px;
  position: fixed;
  left: -300px;
  height: 550px;
  transition: all 0.5s ease; 
}
img.navbar-profile-img{
  /* display: none; */
  height:45px;
  border-radius:50%;
  /* border:3px solid #2dcdcf */
  box-shadow: 0 0 4px #000;
}
img.navbar-profile-img:hover{
  zoom: 105%;
  box-shadow: 0 0 4px #000;
}
a.navbar-profile-name{
  color: #006bbd;
  font-weight: bold;
  text-decoration: none;
}
a.navbar-profile-name:hover{
  color: #2dcdcf;
}
/* Le nouveu theme */
  .scroll-theme::-webkit-scrollbar {
    width: 1em;
  }
  .scroll-theme::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100vw;
    margin-block: 0.1em;
  }
  .scroll-theme::-webkit-scrollbar-thumb {
    background: rgba(28, 209, 209, 0.5);
    border: 0.25em solid #fff;
    border-radius: 100vw;
  }
  .scroll-theme::-webkit-scrollbar-thumb:hover {
    background: #f0f5f9;
    border: 0.25em solid #2dcdcf;
    border-radius: 100vw;
  }
  /* Vertical scrolling */
  .scroll-theme {
    /* display: grid; */
    gap: 0.5em;
    grid-auto-flow: column;
    grid-auto-columns: 75%;
    padding: 0.5em;
    overflow-x: scroll;
    border-radius: 1em;
    position: relative;
    background-color: rgba(0, 107, 189,0.1);
    border: 5px solid #2dcdcf ;
  }
  .scroll-theme > div{
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 107, 189,0.3);
    background-color: rgba(250, 250, 250, 0.9);
  }
  .scroll-theme > div:hover{
    box-shadow: 0 0 30px rgba(0, 107, 189,0.6);
    background-color: rgba(250, 250, 250, 1);
    transition: 300ms;
  }
  
  .titre-theme{
    color: #fff;
    /* text-shadow: 0px 0px 5px #000 ; */
    background: #2dcdcf;
    /* border: 5px solid rgba(0, 107, 189,0.2); */
    width: 100%;
    border-radius: 10px;
  }

/* Les boutons */
button.btn.btn-dark{
  background-color: #006bbd;
  box-shadow: 0px 0px 2px #000;
  font-weight: bold;
  border: 2px solid rgba(45, 205, 207,0.9);
}
button.btn.btn-dark:hover{
  background-color: #2dcdcf;
  box-shadow: 4px 4px 5px #006bbd;
  font-weight: bold;
  font-size: 105%;
}
.bg-white{
  background-color: #fff;
}
button.fixed-btn{
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}